@import url(http://fonts.googleapis.com/css?family=Roboto:700);

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/*-----GENERAL RULES-----*/

body {
    font-family: 'Myriad Pro', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
}

body * {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

#sitenav a:hover {
    color: #ccc;
    text-decoration: none;
    transition: 0.2s;
}

small {
    font-size: 0.7em;
    color: #999;
}

small a {
    color: #666;
}

small a:hover {
    color: #111;
}

.slider-link {
    display: inline-block;
    padding: 0.8em;
}

.apple-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    position: relative;
    top: -20px;
}

.apple-heading .fa-apple {
    position: relative;
    top: -5px;
    right: 10px;
}

.slide-subtit {
    font-size: 1.5em;
}

.fa-angle-right {
    position: relative;
    left: 6px;
}

/*-----POSITIONING-----*/

#sitenav {
    width: 100%;
    background: rgba(0, 0, 0, 0.62);
    text-align: center;
    color: #fff;
    z-index: 99999999;
    position: absolute;
    top: 0;
}

#sitenav li {
    display: inline-block;
    padding: 0.7em 1.7em;
}

#main-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 663px;
}

.slide {
    width: 100%;
    float: left;
    height: 663px;
    background: center no-repeat;
}

.controls {
    text-align: center;
    overflow: auto;
    position: absolute;
    bottom: 20px;
    width: 100%;
    z-index: 999;
}

.pager {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: inline-block;
    margin: 0 10px;
    background: #888;
}

.pager:first-child {
    background: inherit;
    border: 1px solid #0084ff;
}

#music {
    background-image: url(../img/music_hero_medium.jpg);
    background-size: cover;
}

#music-header {
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 280px;
}

#adverts {
    width: 100%;
    position: absolute;
    top: 663px;
}

.product-advert {
    height: 200px;
    float: left;
    width: 50%;
    background-position: center;
}

#ios-9 {
    background-image: url(../img/promo_ios_large.jpg);
}

#ipod-touch {
    background-image: url(../img/promo_ipod_large.png);
}

#watch-os {
    background-image: url(../img/promo_watch_os_large.jpg);
}

#why-iphone {
    background-image: url(../img/promo_health_large.jpg);
}

footer {
    position: relative;
    top: 863px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.foot-header > * {
    float: left;
    width: 100%;
}

.main-footer-link {
    padding: 1.5em 0;
    text-align: center;
    color: #0084ff;
    position: relative;
}

.main-footer-small {
    padding: 1.5em 0;
    border: 1px solid #ddd;
    border-width: 1px 0;
}

.footer-sub {
    clear: both;
    padding: 1.5em 0;
    position: relative;
}

.footer-sub-left {
    position: absolute;
    left: 0;
}

#copyright-info {
    padding: 0.5em 0;
}

#copyright-info > * {
    display: inline-block;
}

.footernav {
    position: absolute;
    right: 0;
}

footer li {
    display: inline-block;
    padding: 0 0.3em;
    vertical-align: middle;
}

footer img {
    width: 16px;
}

.footernav li {
    border-right: 1px solid #ddd;
}

.footernav li:last-child {
    border: 0;
}

.terms {
    position: relative;
    left: 20px;
}

@media only screen and (min-width:960px) {
    .product-advert {
        width: 25%;
    }
}